<!DOCTYPE html>

<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <html itemscope itemtype="http://schema.org/Map">

    <!-- Place this data between the <head> tags of your website -->
    <meta name="description" content="<%= htmlWebpackPlugin.options.pageDescription %>" />
    <title><%= htmlWebpackPlugin.options.pageName %></title>

    <!-- Schema.org markup for Google+ and also default schema for other search engines -->
    <meta itemprop="name" content="<%= htmlWebpackPlugin.options.pageName %>">
    <meta itemprop="description" content="<%= htmlWebpackPlugin.options.pageDescription %>">
    <meta itemprop="image" content="<%= htmlWebpackPlugin.options.pageURL %>/favicons/apple-touch-startup-image-1334x750.png">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@EarthAndData">
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.pageName %>">
    <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.pageDescription %>">
    <meta name="twitter:creator" content="@EarthAndData">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="<%= htmlWebpackPlugin.options.pageURL %>/favicons/apple-touch-startup-image-1334x750.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.pageName %>" />
    <meta property="og:type" content="map" />
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.pageURL %>" />
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.pageURL %>/favicons/apple-touch-startup-image-1334x750.png" />
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.pageDescription %>" />
    <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.pageName %>" />
    <meta property="article:published_time" content="2023-05-25T21:30:00Z" />
    <meta property="article:modified_time" content="<%= htmlWebpackPlugin.options.buildDate %>" />

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Map",
      "mainEntityOfPage": {
        "@type": "WebPage"
      },
      "image": {
        "@type": "ImageObject",
        "url": "<%= htmlWebpackPlugin.options.pageURL %>/favicons/apple-touch-startup-image-1334x750.png",
        "height": 750,
        "width": 1334
      },
      "datePublished": "2023-05-25T21:30:00Z",
      "dateModified": "<%= htmlWebpackPlugin.options.buildDate %>",
      "author": {
        "@type": "Person",
        "name": "Joerg Roth"
      },
      "publisher": {
        "@type": "Organization",
        "name": "Leylines",
        "logo": {
          "@type": "ImageObject",
          "url": "<%= htmlWebpackPlugin.options.pageURL %>/favicons/apple-touch-startup-image-1334x750.png",
          "width": 1334,
          "height": 750
        }
      },
      "description": "<%= htmlWebpackPlugin.options.pageDescription %>"
    }
    </script>


  </head>
  <body>
    <div id="cesiumContainer" class="fullSize">
      <a href="https://maps.leylines.net"><img src="https://maps.leylines.net/images/leylines-logo.svg" alt="Leylines Logo" class="logo"></a>
    </div>
    <div id="switcher">
      <button type="button" id="switchit" class="cesium-button">Show toolbar</button> 
    </div>
    <div id="toolbar">
      <table>
        <tbody>
          <tr>
            <td id="title" colspan="3">Earth</td>
          </tr>
          <tr>
            <td>Visible</td>
            <td>
              <input type="checkbox" data-bind="checked: showGlobe">
            </td>
          </tr>
          <tr>
            <td>Add Point</td>
            <td><select data-bind="options: pointTypes, value: pointType"></select></td>
          </tr>
          <tr>
            <td id="title" colspan="3">Startpoint</td>
          </tr>
          <tr>
            <td>Coordinates</td>
            <td>
              <input type="number" size="5" data-bind="value: spLat">
              <input type="number" size="5" data-bind="value: spLon">
            </td>
          </tr>
          <tr>
            <td id="title" colspan="3">Endpoint</td>
          </tr>
          <tr>
            <td>Coordinates</td>
            <td>
              <input type="number" size="5" data-bind="value: epLat">
              <input type="number" size="5" data-bind="value: epLon">
            </td>
          </tr>
          <tr>
            <td id="title" colspan="3">Orientation</td>
          </tr>
          <tr>
            <td>Bearing</td>
            <td colspan="2">
              <input type="number" size="5" data-bind="value: bearing">
            </td>
          </tr>
          <tr>
            <td id="title" colspan="3">Dodecahedron</td>
          </tr>
          <tr>
            <td>Visible</td>
            <td>
              <input type="checkbox" data-bind="checked: showDodecahedron">
            </td>
          </tr>
          <tr>
            <td>Transparency</td>
            <td>
              <input type="range" min="0.0" max="1.0" step="0.01" data-bind="value: dodeTransparency, valueUpdate: 'input'">
              <input type="number" size="5" data-bind="value: dodeTransparency">
            </td>
          </tr>
          <tr>
            <td>Height</td>
            <td>
              <input type="range" min="10000" max="2000000" step="1000" data-bind="value: dodeHeight, valueUpdate: 'input'">
              <input type="number" size="5" data-bind="value: dodeHeight">
            </td>
          </tr>
          <tr>
            <td id="title" colspan="3">Icosahedron</td>
          </tr>
          <tr>
            <td>Transparency</td>
            <td>
              <input type="range" min="0.0" max="1.0" step="0.01" data-bind="value: icoTransparency, valueUpdate: 'input'">
              <input type="number" size="5" data-bind="value: icoTransparency">
            </td>
          </tr>
          <tr>
            <td>Height</td>
            <td>
              <input type="range" min="10000" max="2000000" step="1000" data-bind="value: icoHeight, valueUpdate: 'input'">
              <input type="number" size="5" data-bind="value: icoHeight">
            </td>
          </tr>
          <tr>
            <td id="title" colspan="3">Triacontahedron</td>
          </tr>
          <tr>
            <td>Transparency</td>
            <td>
              <input type="range" min="0.0" max="1.0" step="0.01" data-bind="value: triaTransparency, valueUpdate: 'input'">
              <input type="number" size="5" data-bind="value: triaTransparency">
            </td>
          </tr>
          <tr>
            <td>Height</td>
            <td>
              <input type="range" min="10000" max="2000000" step="1000" data-bind="value: triaHeight, valueUpdate: 'input'">
              <input type="number" size="5" data-bind="value: triaHeight">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
